* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.appRoot {
  min-height: 100vh;
  display: grid;
}

.previewMode {
  grid-template-columns: 650px 1fr;
}

.hiddenMode > div + div.CVcontainer {
  display: none;
}

.hiddenMode {
  grid-template-columns: 1fr;
}

.sidebar {
  border: solid 3px blue;
}

.CVcontainer {
  border: solid 3px green;
}

.CV {
  width: 700px; /* la mitad de 794px */
  height: calc(700px * 1.414); /* ≈ 594px */
  margin: 2rem auto;
  padding: 1rem;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
