*,
#root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* This container holds everything */
div.appRoot {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 600px 1fr;
}

.appRoot.hiddenMode {
  grid-template-columns: 1fr;
}

.sidebar {
  border: solid 3px red;
}

.CVcontainer {
  border: solid 3px blue;
}
